<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myAddGoodsCtr">

<head>
    <meta charset="UTF-8">
    <title>商品详情轮播图</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/ace.min.css"/>
    <link rel="stylesheet" href="assets/css/datepicker.css"/>
    <link rel="stylesheet" href="css/userInfo.css"/>
    <link rel="stylesheet" href="css/common.css"/>

</head>

<body>
<!--
    作者：yyw
    时间：2017-12-11
    描述：头部模版
-->

<div ng-include="'temp/header.html'"></div>

<div class="main-container" id="main-container">
    <!--
    作者：yyw
    时间：2017-12-11
    描述：左边导航模版
      -->
    <div ng-include="'temp/leftNav.html'"></div>

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">商品信息管理</a>
                </li>
                <li class="active">商品轮播图</li>
            </ul>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">

                    <div id="pictures" class="user-profile">
                        <ul class="ace-thumbnails">
                            <li ng-repeat="item in pictureData">
                                <a href="#" data-rel="colorbox">
                                    <img alt="150x150" src="{{item.imgurl}}" style="width:150px;height: 150px;"/>
                                    <div class="text">
                                        <div class="inner">商品ID:{{item.productId}}</div>
                                    </div>
                                </a>
                                <div class="tools tools-bottom">
                                    <a href="#" data-toggle="modal"
                                       data-target="#updateProductImg"
                                       ng-click="updateProductImg(item)">
                                        <i class="icon-pencil"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-remove red"></i>
                                    </a>
                                </div>
                            </li>
                            <li style="border:none;" data-toggle="modal"
                                data-target="#addProductImg">
                                <a href="#" data-rel="colorbox">
                                    <img style="width:160px;height:160px;" alt="150x150" src="img/add.png"/>
                                    <div class="text">
                                        <div class="inner">添加</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- 更新商品轮播图（Modal） -->
<div class="modal fade" id="updateProductImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加商品二级分类</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">二级分类名称</label>
                        <div class="col-sm-7">
                            <input type="text" id="productClassName_add" placeholder="请输入分类名称"
                                   class="col-xs-10 col-sm-5"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">商品分类</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="select_addModal">
                                <option value="">请选择</option>
                                <option ng-repeat="item in productClassData" value="{{item.productClassId}}">
                                    {{item.className}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">备注</label>
                        <div class="col-sm-7">
                            <textarea id="productClassRemark_add" class="form-control" rows="3"
                                      placeholder="请输入备注"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addProductClass()">添加</button>
            </div>
        </div>
    </div>
</div>
<!-- 添加商品轮播图（Modal） -->
<div class="modal fade" id="addProductImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">添加商品轮播图</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">商品名称</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="select_productName">
                                <option value="">请选择</option>
                                <option ng-repeat="item in goodsInfoData" value="{{item.productId}}">
                                    {{item.productName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">轮播图地址</label>
                        <div class="col-sm-7">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addProductClass()">添加</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script src="assets/js/ace-extra.min.js"></script>

<script src="js/config.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
    //配置文件（数据请求接口）
    var Config = Config();
    var Comm = Common();
    $(function () {


    })
    var app = angular.module("myApp", []);
    app.controller("myAddGoodsCtr", function ($scope) {
        $scope.isC = true;
        getPicture($scope);
        Comm.getGoodsInfo($scope); //获取商品信息


    })
    //获取轮播图数据
    function getPicture($scope) {
//        $.ajax({
//            type: "get",
//            url: "modal/picture.json",
//            dataType: "json",
//            success: function (data) {
//                //alert(JSON.stringify(data));
//                $scope.pictureData = data.datas;
//                $scope.$apply();
//            },
//            complete: function () {
//
//            }
//        });
        var startRow = 1;
        var endRow = 50;
        var getProductRIMGUrl=Config.getProductRIMGUrl+"?startrow="+startRow+"&endrow="+endRow;
        Comm.ajax(getProductRIMGUrl, "get", "", function (res) {
            //alert(JSON.stringify(res));
            $scope.pictureData = res.list;
            $scope.$apply();
        });
    }
</script>

</html>