<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myGroupActivityCtr">

<head>
    <meta charset="UTF-8">
    <title>团购活动</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/ace.min.css"/>
    <link rel="stylesheet" href="css/userInfo.css"/>
    <link rel="stylesheet" href="css/common.css"/>
</head>

<body>
<!--
    作者：yyw
    时间：2017-12-11
    描述：头部模版
-->

<div ng-include="'temp/header.html'"></div>

<div class="main-container" id="main-container">
    <!--
    作者：yyw
    时间：2017-12-11
    描述：左边导航模版
      -->
    <div ng-include="'temp/leftNav.html'"></div>

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">活动管理</a>
                </li>
                <li class="active">团购活动</li>
            </ul>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" id="search_txt" class="form-control" autocomplete="off">
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-info btn-sm" ng-click="search()">查询</button>
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addGroupActivity">添加
                    </button>
                </div>
                <div class="col-xs-12 umar-t20">
                    <div class="hr"></div>
                    <div class="col-xs-4 col-sm-2 pricing-box" ng-repeat="item in groupActivityData" ng-cloak>
                        <div class="widget-box">
                            <div class="widget-header header-color-dark">
                                <h5 class="bigger lighter">团购活动</h5>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <ul class="list-unstyled spaced2">
                                        <li>
                                            <i class="icon-ok green"></i> 团购活动名称：{{item.groupBuyingName}}
                                        </li>
                                        <li>
                                            <i class="icon-ok green"></i> 团购人数：{{item.groupBuyingSum}}
                                        </li>
                                        <li>
                                            <i class="icon-ok green"></i> 商品详情ID：{{item.productdetailId}}
                                        </li>
                                        <li>
                                            <i class="icon-ok green"></i>
                                            开始日期：{{item.groupBuyingStarttime|date:'yyyy-MM-dd'}}
                                        </li>
                                        <li>
                                            <i class="icon-ok green"></i>
                                            结束日期：{{item.groupBuyingEndtime|date:'yyyy-MM-dd'}}
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-block btn-inverse">
                                        <i class="icon-edit  bigger-110"></i>
                                        <span data-toggle="modal" data-target="#updateGroupActivity"
                                              style="margin:0 15px 0 0;"
                                              ng-click="updateGroupActivity(item)">修改</span>
                                        <i class="icon-exclamation-sign  bigger-110"></i>
                                        <span ng-click="deleteGroupActivity(item.groupBuyingId)">删除</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 更新团购活动信息（Modal） -->
<div class="modal fade" id="updateGroupActivity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">更新团购活动信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">团购活动名称</label>
                        <div class="col-sm-9">
                            <input type="text" value="{{updateItems.groupBuyingName}}" id="groupBuyingName_update"
                                   class="col-xs-10 col-sm-9"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">团购人数</label>
                        <div class="col-sm-9">
                            <input type="text" value="{{updateItems.groupBuyingSum}}" id="groupBuyingSum_update"
                                   class="col-xs-10 col-sm-9"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">商品详情ID</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="select_xq_update">
                                <option value="">请选择</option>
                                <option ng-repeat="item in productDetailData"  ng-selected="{{item.productDetailid}}==updateItems.productdetailId"
                                        value="{{item.productDetailid}}">
                                    {{item.productDetailid}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">团购开始日期</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input value="{{updateItems.groupBuyingStarttime|date:'yyyy-MM-dd'}}" class="form-control date-picker"
                                       id="datetimepicker1_update" type="text"
                                       data-date-format="yyyy-mm-dd"/>
                                <span class="input-group-addon">
									 <i class="icon-calendar bigger-110"></i>
								 </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">团购结束日期</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input value="{{updateItems.groupBuyingEndtime|date:'yyyy-MM-dd'}}" class="form-control date-picker"
                                       id="datetimepicker2_update" type="text"
                                       data-date-format="yyyy-mm-dd"/>
                                <span class="input-group-addon">
									 <i class="icon-calendar bigger-110"></i>
								 </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="updateGroupActivityBtn()">更新</button>
            </div>
        </div>
    </div>
</div>
<!-- 添加商品轮播图（Modal） -->
<div class="modal fade" id="addGroupActivity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">添加团购活动信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">团购活动名称</label>
                        <div class="col-sm-9">
                            <input type="text"   id="groupBuyingName_add"
                                   class="col-xs-10 col-sm-9"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">团购人数</label>
                        <div class="col-sm-9">
                            <input type="text"   id="groupBuyingSum_add"
                                   class="col-xs-10 col-sm-9"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">商品详情ID</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="select_xq">
                                <option value="">请选择</option>
                                <option ng-repeat="item in productDetailData"  value="{{item.productDetailid}}">
                                    {{item.productDetailid}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">团购开始日期</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input   class="form-control date-picker"
                                       id="datetimepicker1_add" type="text"
                                       data-date-format="yyyy-mm-dd"/>
                                <span class="input-group-addon">
									 <i class="icon-calendar bigger-110"></i>
								 </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">团购结束日期</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input   class="form-control date-picker"
                                       id="datetimepicker2_add" type="text"
                                       data-date-format="yyyy-mm-dd"/>
                                <span class="input-group-addon">
									 <i class="icon-calendar bigger-110"></i>
								 </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addGroupActivity()">添加</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除确认模态框（Modal） -->
<div ng-include="'temp/confirmModal.html'"></div>
</body>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script src="assets/js/ace-extra.min.js"></script>

<script src="js/config.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
    //配置文件（数据请求接口）
    var Config = Config();
    var Comm = Common();
    $(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            language: 'cn'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    })

    var myApp = angular.module("myApp", []);
    var groupBuyingId = "";  //团购活动id
    myApp.controller("myGroupActivityCtr", function ($scope) {
        $scope.isK = true;

        Comm.getProductDetail($scope); //获取商品详情
        Comm.getGroupActivity($scope);  //获取团购活动信息

        //根据用户输入搜索
        $scope.search = function () {
            var search_txt = $("#search_txt").val();
            var searchProductGroupBuyingUrl = Config.searchProductGroupBuyingUrl + "?groupBuyingName=" + search_txt;
            //alert(searchUrl);
            Comm.ajax(searchProductGroupBuyingUrl, "get", "", function (res) {
                //alert(JSON.stringify(res));
                $scope.groupActivityData = JSON.parse(res);
                $scope.$apply();
            });
        }
        //更新团购活动
        $scope.updateGroupActivity = function (item) {
            $scope.updateItems = item;
            //console.log(JSON.stringify(item));
            groupBuyingId = item.groupBuyingId;
        }

        //根据id删除这条数据
        $scope.deleteGroupActivity = function (groupBuyingId) {
            $('#confirmModal').modal('show');
            $scope.confirmBtn = function () {
                var paramData = {
                    "isdelete": 1,
                    "productPromotionId": groupBuyingId
                };
                Comm.ajax(Config.updateProductPromotionUrl, "post", paramData, function (res) {
                    //alert(JSON.stringify(res));
                    alert("删除成功");
                    location.reload(); //刷新当前页面
                });
            }
        }

    })

    //添加团购活动
    function addGroupActivity() {
        var select_xq = $("#select_xq option:selected").val();   //商品详情ID
        var groupBuyingName_add = $("#groupBuyingName_add").val();   //团购活动名称
        var groupBuyingSum_add = $("#groupBuyingSum_add").val();  //团购活动人数
        var datetimepicker1_add = $("#datetimepicker1_add").val();  //团购开始时间
        var datetimepicker2_add = $("#datetimepicker2_add").val();  //团购结束时间

        if (!select_xq) {
            alert("请选择商品详情ID");
            return;
        } else if (!groupBuyingName_add) {
            alert("请输入团购名称");
            return;
        }else if (!groupBuyingSum_add) {
            alert("请输入团购人数");
            return;
        }else if (!datetimepicker1_add) {
            alert("请选择活动开始时间");
            return;
        }else if (!datetimepicker2_add) {
            alert("请选择活动结束时间");
            return;
        }else if (!Comm.compareDate(datetimepicker1_add,datetimepicker2_add)) {
            alert("开始日期不能大于结束日期");
            return;
        }
        var paramData = {
            "groupBuyingName": groupBuyingName_add,
            "groupBuyingSum": groupBuyingSum_add,
            "productdetailId": select_xq,
            "groupBuyingStarttime": datetimepicker1_add+" 00:00:00",
            "groupBuyingEndtime": datetimepicker2_add+" 00:00:00"
        };
        //console.log(paramData);
        Comm.ajax(Config.addProductGroupBuyingUrl, "post", paramData, function (res) {
            //alert(JSON.stringify(res));
            alert("添加成功");
            location.reload(); //刷新当前页面
        });
    }
    //更新团购活动
    function updateGroupActivityBtn() {
        var select_xq_update = $("#select_xq_update option:selected").val();   //商品详情ID
        var groupBuyingName_update = $("#groupBuyingName_update").val();   //团购活动名称
        var groupBuyingSum_update = $("#groupBuyingSum_update").val();  //团购活动人数
        var datetimepicker1_update = $("#datetimepicker1_update").val();  //团购开始时间
        var datetimepicker2_update = $("#datetimepicker2_update").val();  //团购结束时间

        if (!select_xq_update) {
            alert("请选择商品详情ID");
            return;
        } else if (!groupBuyingName_update) {
            alert("请输入团购名称");
            return;
        }else if (!groupBuyingSum_update) {
            alert("请输入团购人数");
            return;
        }else if (!datetimepicker1_update) {
            alert("请选择活动开始时间");
            return;
        }else if (!datetimepicker2_update) {
            alert("请选择活动结束时间");
            return;
        }else if (!Comm.compareDate(datetimepicker1_update,datetimepicker2_update)) {
            alert("开始日期不能大于结束日期");
            return;
        }
        var paramData = {
            "groupBuyingId":groupBuyingId,
            "groupBuyingName": groupBuyingName_update,
            "groupBuyingSum": groupBuyingSum_update,
            "productdetailId": select_xq_update,
            "groupBuyingStarttime": datetimepicker1_update+" 00:00:00",
            "groupBuyingEndtime": datetimepicker2_update+" 00:00:00"
        };
        //console.log(paramData);
        Comm.ajax(Config.updateProductGroupBuyingUrl, "post", paramData, function (res) {
            //alert(JSON.stringify(res));
            alert("更新成功");
            location.reload(); //刷新当前页面
        });
    }


</script>

</html>