<!DOCTYPE html>
<html ng-app="myApp" ng-controller="modalClassCtr">

<head>
    <meta charset="UTF-8">
    <title>分类模块</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/ace.min.css"/>
    <link rel="stylesheet" href="css/userInfo.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/layui.css"/>
    <link rel="stylesheet" href="assets/ngpagination/ng-pagination.css">
</head>

<body>
<!--
    作者：yyw
    时间：2017-12-11
    描述：头部模版
-->
<div ng-include="'temp/header.html'"></div>

<div class="main-container" id="main-container">
    <!--
    作者：yyw
    时间：2017-12-11
    描述：左边导航模版
      -->
    <div ng-include="'temp/leftNav.html'"></div>

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">模块分类</li>
            </ul>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="search-contain">
                    <div class="col-xs-1 text-right fr" style="line-height: 37px;font-size: 16px;">查询条件：</div>
                    <div class="col-xs-1">
                        <div class="form-group">
                            <select class="form-control" id="select_search">
                                <option value="classificationName">模块名称</option>
                                <option value="classificationProductId">商品ID</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" id="search_txt" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-info btn-sm" ng-click="search()">查询</button>
                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">添加</button>
                    </div>

                </div>

                <div class="col-xs-12">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">

                                    <table id="sample-table-2"
                                           class="table table-striped table-bordered table-hover dataTable"
                                           aria-describedby="sample-table-2_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_disabled">模块名称</th>
                                            <th class="sorting_disabled">模块图片</th>
                                            <th class="sorting_disabled">分类路径</th>
                                            <th class="sorting_disabled">商品ID</th>
                                            <th class="sorting_disabled">操作</th>
                                        </tr>
                                        </thead>

                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr class="odd" ng-repeat="item in modalClassData" ng-cloak>
                                            <td class="sorting_1 line-h">
                                                <a href="#">{{item.classificationName}}</a>
                                            </td>
                                            <td class="line-h">
                                                <img src="{{hostPath}}{{item.classificationImg}}" alt=""  style="width:45px;height:45px;"/>
                                            </td>
                                            <td class="line-h">{{item.classificationPath}}</td>
                                            <td class="line-h">{{item.classificationProductId}}</td>

                                            <td class="line-h">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="green" href="#" data-toggle="modal"
                                                       data-target="#updateClassModal"
                                                       ng-click="updateClass(item.classificationId,item.classificationProductId)">
                                                        <i class="icon-pencil bigger-130"></i>
                                                    </a>
                                                    <a class="red" href="#"
                                                       ng-click="deleteModalClass(item.classificationId)">
                                                        <i class="icon-trash bigger-130"></i>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="message-navbar clearfix" ng-show="pageCount">
                                    <div class="row" style="float:right">
                                        <div class="pager" ng-show="pageCount">
                                            <pager page-count="pageCount" current-page="currentPage"
                                                   on-page-change="onPageChange()"
                                                   first-text="首页" next-text="下一页" prev-text="上一页" last-text="尾页"
                                                   show-goto="true"
                                                   goto-text="跳转到">
                                            </pager>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 添加模块分类模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加模块分类</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="imageForm" enctype="multipart/form-data" action="url"
                      method="POST">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">模块名称</label>
                        <div class="col-sm-8">
                            <input type="text" id="modalName_add" placeholder="请输入模块名称" class="col-xs-10 col-sm-5"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">分类图片</label>
                        <div class="col-sm-8">
                            <img id="preview" style="width:150px;height: 150px;"/>
                            <br/><br/>
                            <input type="file" name="file" onchange="imgPreview(this)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">分类路径</label>
                        <div class="col-sm-8">
                            <input type="text" id="modalPath_add" placeholder="请输入分类路径" class="col-xs-10 col-sm-5"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">商品分类</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="select_addModal">
                                <option value="">请选择</option>
                                <option ng-repeat="item in productClassData" value="{{item.productClassId}}">
                                    {{item.className}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addModalClass()">添加</button>
            </div>
        </div>
    </div>
</div>
<!-- 更新模块分类模态框（Modal） -->
<div class="modal fade" id="updateClassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">更新模块分类</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="imageForm2" role="form"  enctype="multipart/form-data"
                      action="url" method="POST" ng-repeat="item in modalClassData"
                      ng-if="item.classificationId==updateClassId">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">模块名称</label>
                        <div class="col-sm-8">
                            <input type="text" id="modalName_update" value="{{item.classificationName}}"
                                   placeholder="请输入模块名称" class="col-xs-10 col-sm-5"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">分类图片</label>
                        <div class="col-sm-8">
                            <img class="preview" id="preview2" name="{{item.classificationImg}}" src="{{hostPath}}{{item.classificationImg}}"
                                 style="width:150px;height: 150px;"/>
                            <br/><br/>
                            <input type="file" name="file" onchange="imgPreview2(this)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">分类路径</label>
                        <div class="col-sm-8">
                            <input type="text" id="modalPath_update" value="{{item.classificationPath}}"
                                   placeholder="请输入分类路径" class="col-xs-10 col-sm-5"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">商品分类</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="select_updateModal" class="selector">
                                <option value="">请选择</option>
                                <option ng-repeat="item in productClassData" value="{{item.productClassId}}">
                                    {{item.className}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="updateModalClass()">更新</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除确认模态框（Modal） -->
<div ng-include="'temp/confirmModal.html'"></div>
</body>

<script src="assets/js/jquery.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script src="assets/js/ace-extra.min.js"></script>
<script src="assets/ngpagination/ng-pagination.js"></script>
<script src="assets/ngpagination/angular.min.js"></script>
<script src="js/config.js"></script>
<script src="js/common.js"></script>
<script src="js/modalClass.js"></script>

<script type="text/javascript">
</script>

</html>