<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myPictureCtr">

<head>
    <meta charset="UTF-8">
    <title>轮播图设置</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/ace.min.css"/>
    <link rel="stylesheet" href="assets/css/datepicker.css"/>
    <link rel="stylesheet" href="css/userInfo.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/iconfont.css"/>
    <link rel="stylesheet" href="css/fileUpload.css"/>
</head>

<body>
<!--
    作者：yyw
    时间：2017-12-11
    描述：头部模版
-->
<div ng-include="'temp/header.html'"></div>

<div class="main-container" id="main-container">
    <!--
    作者：yyw
    时间：2017-12-11
    描述：左边导航模版
      -->
    <div ng-include="'temp/leftNav.html'"></div>

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">小程序管理</a>
                </li>
                <li class="active">板块轮播图</li>
            </ul>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="search-contain">
                    <!--<div class="col-xs-1 text-right fr" style="line-height: 37px;font-size: 16px;">查询条件：</div>-->
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" id="select_search">
                                <option value="classificationId">模块分类ID</option>
                                <option value="classificationName">模块分类名称</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" id="search_txt" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-info btn-sm" ng-click="search()">查询</button>
                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModalPicture">添加
                        </button>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
                            <table id="sample-table-2"
                                   class="table table-striped table-bordered table-hover dataTable"
                                   aria-describedby="sample-table-2_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_disabled">模块ID</th>
                                    <th class="sorting_disabled">模块名称</th>
                                    <th class="sorting_disabled">模块轮播图</th>
                                    <th class="sorting_disabled">操作</th>
                                </tr>
                                </thead>

                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr class="odd" ng-repeat="item in pictureData">
                                    <td class="sorting_1 line-h">
                                        <a href="#">{{item.classificationId}}</a>
                                    </td>
                                    <td class="sorting_1 line-h">
                                        <a href="#">{{item.classificationName}}</a>
                                    </td>
                                    <td class="line-h">
                                        <div id="pictures" class="user-profile">
                                            <ul class="ace-thumbnails">
                                                <li ng-repeat="itemList in item.classificationRimgList">
                                                    <a href="#" data-rel="colorbox">
                                                        <img alt="150x150"
                                                             src="{{hostPath}}{{itemList.classificationRimgurl}}"
                                                             style="width:150px;height: 150px;"/>
                                                        <div class="text">
                                                            <div class="inner">{{itemList.classificationRimgname}}</div>
                                                        </div>
                                                    </a>
                                                    <div class="tools tools-bottom">
                                                        <a href="#" data-toggle="modal"
                                                           data-target="#updateOnePicture"
                                                           ng-click="updateOnePicture(item,itemList)">
                                                            <i class="icon-pencil"></i>
                                                        </a>
                                                        <a href="#"
                                                           ng-click="deleteOnePicture(item.classificationId,itemList.classificationRimgid)">
                                                            <i class="icon-remove red"></i>

                                                        </a>
                                                    </div>
                                                </li>
                                                <li style="border:none;" data-toggle="modal"
                                                    data-target="#addOnePicture" ng-click="addOnePicture(item)">
                                                    <a href="#" data-rel="colorbox">
                                                        <div class="img-up-add  img-item"><span
                                                                class="img-add-icon">+</span></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="line-h">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                            <!--<a class="green" href="#">-->
                                            <!--<i class="icon-pencil bigger-130"></i>-->
                                            <!--</a> -->
                                            <a class="red" href="#"
                                               ng-click="deleteModalPicture(item.classificationId)">
                                                <i class="icon-trash bigger-130"></i>
                                            </a>
                                        </div>



                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="message-navbar clearfix">-->
                        <!--<div class="row" style="float:right">-->
                        <!--<div class="pager" ng-show="pageCount">-->
                        <!--<pager page-count="pageCount" current-page="currentPage"-->
                        <!--on-page-change="onPageChange()"-->
                        <!--first-text="首页" next-text="下一页" prev-text="上一页" last-text="尾页"-->
                        <!--show-goto="true"-->
                        <!--goto-text="跳转到">-->
                        <!--</pager>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- 更新单张轮播图（Modal） -->
<div class="modal fade" id="updateOnePicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">更新单张轮播图</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" class="form-horizontal" role="form" id="imageForm"
                      enctype="multipart/form-data" action="url"
                      method="POST">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片名称</label>
                        <div class="col-sm-9">
                            <input type="text" value="{{updateItemList.classificationRimgname}}" id="pictureName_update" placeholder="请输入图片名称" class="col-xs-10 col-sm-5"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">模块分类</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="selectModalName_update" disabled>
                                <option selected value="{{updateItem.classificationId}}">{{updateItem.classificationName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">轮播图</label>
                            <div class="col-sm-8">
                                <img id="preview" name="{{updateItemList.classificationRimgurl}}" src="{{hostPath}}{{updateItemList.classificationRimgurl}}" style="width:150px;height: 150px;"/>
                                <br/><br/>
                                <input type="file" name="file" onchange="imgPreview(this)"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="updateOnePictureBtn()">更新</button>
            </div>
        </div>
    </div>
</div>
<!-- 添加模块轮播图（Modal） -->
<div class="modal fade" id="addModalPicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">添加板块轮播图</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片名称</label>
                        <div class="col-sm-9">
                            <input type="text" id="pictureName_add" placeholder="请输入图片名称" class="col-xs-10 col-sm-5"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">模块分类</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="select_modalName">
                                <option value="">请选择</option>
                                <option ng-repeat="item in modalClassData" value="{{item.classificationId}}">
                                    {{item.classificationName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">轮播图</label>
                        <div class="col-sm-8">
                            <div id="fileUploadContent" class="fileUploadContent"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addModalPicture()">添加</button>
            </div>
        </div>
    </div>
</div>
<!--添加单张图片-->
<div class="modal fade" id="addOnePicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加模块单张轮播图</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" class="form-horizontal" role="form" id="imageForm2"
                      enctype="multipart/form-data" action="url" method="POST">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片名称</label>
                        <div class="col-sm-9">
                            <input type="text" id="pictureName_add2" placeholder="请输入图片名称" class="col-xs-10 col-sm-5"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">模块分类</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="select_modalName2" disabled>
                                <option selected value="{{modalData.classificationId}}">{{modalData.classificationName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">轮播图</label>
                            <div class="col-sm-8">
                                <img id="preview2" style="width:150px;height: 150px;"/>
                                <br/><br/>
                                <input type="file" name="file" onchange="imgPreview2(this)"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addOnePictureBtn()">添加</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除确认模态框（Modal） -->
<div ng-include="'temp/confirmModal.html'"></div>
</body>
<script src="assets/js/jquery.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/ngpagination/angular.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script src="assets/js/ace-extra.min.js"></script>

<script src="js/config.js"></script>
<script src="js/common.js"></script>
<script src="js/fileUpload.js"></script>
<script src="js/pictureSet.js"></script>
<script type="text/javascript">

</script>
</html>