<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myProductPromotionCtr">

<head>
    <meta charset="UTF-8">
    <title>促销活动信息</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/ace.min.css"/>
    <link rel="stylesheet" href="css/userInfo.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="assets/ngpagination/ng-pagination.css">
</head>

<body>
<!--
    作者：yyw
    时间：2017-12-11
    描述：头部模版
-->

<div ng-include="'temp/header.html'"></div>

<div class="main-container" id="main-container">
    <!--
    作者：yyw
    时间：2017-12-11
    描述：左边导航模版
      -->
    <div ng-include="'temp/leftNav.html'"></div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">活动管理</a>
                </li>
                <li class="active">促销活动信息</li>
            </ul>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" id="search_txt" class="form-control" autocomplete="off">
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-info btn-sm" ng-click="search()">查询</button>
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addProductDetail">添加
                    </button>
                </div>
                <div class="col-xs-12 umar-t20">
                    <div class="hr"></div>
                    <div class="col-xs-4 col-sm-2 pricing-box" ng-repeat="item in productPromotionData" ng-cloak>
                        <div class="widget-box">
                            <div class="widget-header header-color-red3">
                                <h5 class="bigger lighter">促销活动信息</h5>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <ul class="list-unstyled spaced2">
                                        <li>
                                            <i class="icon-ok green"></i> 促销活动名称：{{item.promotionName}}
                                        </li>
                                        <li>
                                            <i class="icon-ok green"></i> 促销活动状态：{{item.promotionFlag}}
                                        </li>
                                        <li>
                                            <i class="icon-ok green"></i> 促销活动类型：{{item.promotionType}}
                                        </li>
                                        <li>
                                            <i class="icon-ok green"></i> 商品详情ID：{{item.productdetailId}}
                                        </li>
                                        <li>
                                            <i class="icon-ok green"></i>
                                            促销开始日期：{{item.promotionStarttime|date:'yyyy-MM-dd'}}
                                        </li>
                                        <li>
                                            <i class="icon-ok green"></i>
                                            促销结束日期：{{item.promotionEndtime|date:'yyyy-MM-dd'}}
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-block btn-danger">
                                        <i class="icon-edit  bigger-110"></i>
                                        <span data-toggle="modal" data-target="#updateProductDetail"
                                              style="margin:0 15px 0 0;"
                                              ng-click="updateProductPromotion(item)">修改</span>
                                        <i class="icon-exclamation-sign  bigger-110"></i>
                                        <span ng-click="deleteProductPromotion(item.productPromotionId)">删除</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-navbar clearfix">
            <div class="row" style="float:right">
                <div class="pager" ng-show="pageCount">
                    <pager page-count="pageCount" current-page="currentPage"
                           on-page-change="onPageChange()" first-text="首页" next-text="下一页"
                           prev-text="上一页" last-text="尾页" show-goto="true" goto-text="跳转到">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 更新促销活动信息（Modal） -->
<div class="modal fade" id="updateProductDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">更新商品活动信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">促销活动名称</label>
                        <div class="col-sm-9">
                            <input type="text" value="{{updateItems.promotionName}}" id="promotionName_update"
                                   class="col-xs-10 col-sm-9"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">商品促销</label>
                        <div class="col-sm-9">
                            <input type="text" value="{{updateItems.promotionFlag}}" id="promotionFlag_update"
                                   class="col-xs-10 col-sm-9"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">促销活动类型</label>
                        <div class="col-sm-9">
                            <input type="text" value="{{updateItems.promotionType}}" id="promotionType_update"
                                   class="col-xs-10 col-sm-9"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">商品详情ID</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="select_xq_update">
                                <option value="">请选择</option>
                                <option ng-repeat="item in productDetailData"
                                        ng-selected="{{item.productDetailid}}==updateItems.productdetailId"
                                        value="{{item.productDetailid}}">
                                    {{item.productDetailid}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">促销开始日期</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input value="{{updateItems.promotionStarttime|date:'yyyy-MM-dd'}}" class="form-control date-picker"
                                       id="datetimepicker1_update" type="text"
                                       data-date-format="yyyy-mm-dd"/>
                                <span class="input-group-addon">
									 <i class="icon-calendar bigger-110"></i>
								 </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">促销结束日期</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input value="{{updateItems.promotionEndtime|date:'yyyy-MM-dd'}}" class="form-control date-picker"
                                       id="datetimepicker2_update" type="text"
                                       data-date-format="yyyy-mm-dd"/>
                                <span class="input-group-addon">
									 <i class="icon-calendar bigger-110"></i>
								 </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="updateProductPromotionBtn()">更新</button>
            </div>
        </div>
    </div>
</div>
<!-- 添加促销活动信息（Modal） -->
<div class="modal fade" id="addProductDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">添加活动信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">促销活动名称</label>
                        <div class="col-sm-9">
                            <input type="text" id="promotionName_add" class="col-xs-10 col-sm-9"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">商品促销活动状态</label>
                        <div class="col-sm-9">
                            <input type="text" id="promotionFlag_add" class="col-xs-10 col-sm-9"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">促销活动类型</label>
                        <div class="col-sm-9">
                            <input type="text" id="promotionType_add" class="col-xs-10 col-sm-9"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">商品详情ID</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="select_xq">
                                <option value="">请选择</option>
                                <option ng-repeat="item in productDetailData" value="{{item.productDetailid}}">
                                    {{item.productDetailid}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">促销开始日期</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input class="form-control date-picker"
                                       id="datetimepicker1_add" type="text"
                                       data-date-format="yyyy-mm-dd"/>
                                <span class="input-group-addon">
									 <i class="icon-calendar bigger-110"></i>
								 </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">促销结束日期</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input class="form-control date-picker"
                                       id="datetimepicker2_add" type="text"
                                       data-date-format="yyyy-mm-dd"/>
                                <span class="input-group-addon">
									 <i class="icon-calendar bigger-110"></i>
								 </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addProductPromotion()">添加</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除确认模态框（Modal） -->
<div ng-include="'temp/confirmModal.html'"></div>
</body>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script src="assets/js/ace-extra.min.js"></script>
<script src="assets/ngpagination/angular.min.js"></script>
<script src="assets/ngpagination/ng-pagination.js"></script>
<script src="js/config.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
    //配置文件（数据请求接口）
    var Config = Config();
    var Comm = Common();
    $(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            language: 'cn'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    })

    var myApp = angular.module("myApp",['ng-pagination']);
    var productPromotionId = "";  //商品活动id
    myApp.controller("myProductPromotionCtr", function ($scope) {
        $scope.isK = true;

        Comm.getProductDetail($scope); //获取商品详情
        Comm.getProductPromotion($scope);  //获取商品活动信息
        //分页改变事件
        $scope.onPageChange = function () {
            var start = $scope.currentPage;
            var end = 10;
            Comm.ajax(Config.searchProductPromotionUrl, "post",
                    {
                        "startrow": start,
                        "endrow": end
                    },
                    function (res) {
                        var obj = JSON.parse(res);
                        $scope.$apply(function () {
                            $scope.userFeedbackData = obj.list;
                            $scope.pageCount = obj.pages;
                            $scope.currentPage = obj.pageNum;
                        });
                    });
        }
        Comm.getProductPromotion($scope);  //获取商品活动信息

        //根据用户输入搜索
        $scope.search = function () {
            var search_txt = $("#search_txt").val();
            var searchProductPromotionUrl = Config.searchProductPromotionUrl + "?promotionName=" + search_txt;
            //alert(searchUrl);
            Comm.ajax(searchProductPromotionUrl, "get", "", function (res) {
                //alert(JSON.stringify(res));
                $scope.productPromotionData = JSON.parse(res);
                $scope.pageCount = obj.pages;
                $scope.$apply();
            });
        }
        //更新轮播图
        $scope.updateProductPromotion = function (item) {
            $scope.updateItems = item;
            //console.log(JSON.stringify(item));
            productPromotionId = item.productPromotionId;
        }

        //根据id删除这条数据
        $scope.deleteProductPromotion = function (productPromotionId) {
            $('#confirmModal').modal('show');
            $scope.confirmBtn = function () {
                var paramData = {
                    "isdelete": 1,
                    "productPromotionId": productPromotionId
                };
                Comm.ajax(Config.updateProductPromotionUrl, "post", paramData, function (res) {
                    //alert(JSON.stringify(res));
                    alert("删除成功");
                    location.reload(); //刷新当前页面
                });
            }
        }

    })

    //添加商品详情
    function addProductPromotion() {
        var select_xq = $("#select_xq option:selected").val();   //商品详情ID
        var promotionName_add = $("#promotionName_add").val();   //促销活动名称
        var promotionFlag_add = $("#promotionFlag_add").val();  //促销活动状态
        var promotionType_add = $("#promotionType_add").val();  //促销活动类型
        var datetimepicker1_add = $("#datetimepicker1_add").val();  //促销开始时间
        var datetimepicker2_add = $("#datetimepicker2_add").val();  //促销结束时间

        if (!select_xq) {
            alert("请选择商品详情ID");
            return;
        } else if (!promotionName_add) {
            alert("请输入活动名称");
            return;
        }else if (!promotionFlag_add) {
            alert("请输入活动状态");
            return;
        }else if (!promotionType_add) {
            alert("请输入活动类型");
            return;
        }else if (!datetimepicker1_add) {
            alert("请选择活动开始时间");
            return;
        }else if (!datetimepicker2_add) {
            alert("请选择活动结束时间");
            return;
        }else if (!Comm.compareDate(datetimepicker1_add,datetimepicker2_add)) {
            alert("开始日期不能大于结束日期");
            return;
        }
        var paramData = {
            "promotionName": promotionName_add,
            "promotionFlag": promotionFlag_add,
            "promotionType": promotionType_add,
            "productdetailId": select_xq,
            "promotionStarttime": datetimepicker1_add+" 00:00:00",
            "promotionEndtime": datetimepicker2_add+" 00:00:00"
        };
        //console.log(paramData);
        Comm.ajax(Config.addProductPromotionUrl, "post", paramData, function (res) {
            //alert(JSON.stringify(res));
            alert("添加成功");
            location.reload(); //刷新当前页面
        });
    }
    //更新商品详情
    function updateProductPromotionBtn() {
        var select_xq_update = $("#select_xq_update option:selected").val();   //商品详情ID
        var promotionName_update = $("#promotionName_update").val();   //促销活动名称
        var promotionFlag_update = $("#promotionFlag_update").val();  //促销活动状态
        var promotionType_update = $("#promotionType_update").val();  //促销活动类型
        var datetimepicker1_update = $("#datetimepicker1_update").val();  //促销开始时间
        var datetimepicker2_update = $("#datetimepicker2_update").val();  //促销结束时间

        if (!select_xq_update) {
            alert("请选择商品详情ID");
            return;
        } else if (!promotionName_update) {
            alert("请输入活动名称");
            return;
        }else if (!promotionFlag_update) {
            alert("请输入活动状态");
            return;
        }else if (!promotionType_update) {
            alert("请输入活动类型");
            return;
        }else if (!datetimepicker1_update) {
            alert("请选择活动开始时间");
            return;
        }else if (!datetimepicker2_update) {
            alert("请选择活动结束时间");
            return;
        }else if (!Comm.compareDate(datetimepicker1_update,datetimepicker2_update)) {
            alert("开始日期不能大于结束日期");
            return;
        }
        var paramData = {
            "productPromotionId":productPromotionId,
            "promotionName": promotionName_update,
            "promotionFlag": promotionFlag_update,
            "promotionType": promotionType_update,
            "productdetailId": select_xq_update,
            "promotionStarttime": datetimepicker1_update+" 00:00:00",
            "promotionEndtime": datetimepicker2_update+" 00:00:00"
        };
        //alert(JSON.stringify(paramData));
        //console.log(JSON.stringify(paramData));
        Comm.ajax(Config.updateProductPromotionUrl, "post", paramData, function (res) {
            //alert(JSON.stringify(res));
            alert("更新成功");
            location.reload(); //刷新当前页面
        });
    }
</script>

</html>